@page
@model IndexModel
@{
    ViewData["Title"] = "Welcomee page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sumana's Website</h1>
    <p>to learn about Dr. B. C. Roy Engineering College <a href="https://bcrec.ac.in/">please click here</a>.</p>
</div>
