@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sumana's Website</h1>
    <p>To learn more about <a href="https://bcrec.ac.in/">DR. B. C. Roy Engineering College</a> please click here.</p>
</div>
